@font-face {
  font-family: 'Kids';
  src: url('./../public/kids.ttf') format('truetype'),
}

body {
  margin: 0;
  font-family: 'Kids', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url('./mesk.png'), auto;

}

html {
  height: 1000vh;
}

code {
  font-family: 'Kids', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}